@font-face {
	font-family: Proxima Regular;
	src: url(/fonts/ProximaNova-Regular.ttf);
}
@font-face {
	font-family: Proxima Semibold;
	src: url(/fonts/ProximaNova-Semibold.ttf);
}
@font-face {
	font-family: Proxima Bold;
	src: url(/fonts/ProximaNova-Bold.ttf);
}
@font-face {
	font-family: Proxima Light;
	src: url(/fonts/ProximaNova-Light.ttf);
}
@font-face {
	font-family: ElMessiri;
	src: url(/fonts/ElMessiri-Bold.ttf);
}
	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}

	body {
		margin: 0;
		padding: 0;
		background-color: #162831;
	}

/* Container
==============================================================*/
.container {
	width: 100%;
	max-width: 1296px;
	margin: 0 auto;
}

/* Header
==============================================================*/

.header {
	width: 100%;
	height: 140px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	padding: 30px 0 50px 0;
	align-items: center;
}

/* Button
==============================================================*/

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 9px 15px;
	font-size: 13px;
	font-family: Proxima Semibold;
	text-decoration: none;
	color: #fff;
	border-radius: 3px;
	border: 0;
	cursor: pointer;
	transition: background .1s linear;
}

.btn--blue {
	background-color: #018ABE;
}

.btn--blue:hover {
	background-color: #98C9DC;
}

/* Nav
==============================================================*/

.nav {
	font-size: 14px;
	font-family: Proxima Regular;
}

.nav__link {
	color: #fff;
	margin-left: 50px;
	text-decoration: none;
}

.nav__link:hover {
	text-decoration: underline;
}

.nav__link:first-child {
	margin-left: 0;
}

/* Intro
==============================================================*/

.intro {
	position: relative;
	text-align: center;
	padding-top: 140px;
	height: 890px;
}

.intro__img {
	border-radius: 10px;
}

.intro__titles {
	font-family: ElMessiri;
	position: absolute;
	top: 46.5%;
	left: 49.9%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.intro__title {
	width: 587px;
	font-size: 64px;
	line-height: 90px;
	text-align: center;
}

.intro__subtitle {
	font-size: 24px;
	line-height: 34px;
	text-align: center;
}

.intro__subtitle:before {
	content: url(/img/Rectangle\ Before.png);
	padding-right: 66px;
}

.intro__subtitle:after {
	content: url(/img/Rectangle\ After.png);
	padding-left: 66px;
	}